@import "styleVueBandeau.css";
@import url("styleVueBandeau.css");
/*Code CSS du Footer*/

#navigueBar{
  width:auto;
  height: 50px;
  margin-top: 75px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  padding: 5px;
}

#container{
  width:auto;
  height: 500px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #DCD9DC;
}

#column_left{
  width: 50%;
  border-right: 2px solid black;

}

#column_up{
  border-bottom: 2px solid black;
  height: 50%;
}

#column_up>a{
  float: right;
}

#template_up{
  margin-left: 25%;
  height: 200px;
  width: 200px;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 12px #555;
  margin-right: 10px;
}



#column_down{
  height: 50%;
  text-align: center;
}

#column_right{
  width:50%;
  display: flex;
  flex-wrap:wrap;
  overflow-y: scroll;
}

#MesModeles{
  text-align: center;
  width: 220px;
  border: 2px solid black;
  border-radius: 2px;
  background-color: #DCD9DC;
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

#ModeleModeles:hover{
  background-color: white;
}

#ModeleComm{
  text-align: center;
  width: 220px;
  border: 2px solid black;
  border-radius: 2px;
  background-color: #DCD9DC;
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

#ModeleComm:hover{
  background-color: white;
}

#MonthTheme{
  text-align: center;
  width: 220px;
  border: 2px solid black;
  border-radius: 2px;
  background-color: white;
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

#template {
  margin: 5px;
  width: 150px;
  height: 180px;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 12px #555;
}

#template:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

 #template p {
   margin-top: 0px;
 }



 #boutonEdit{
   display:block;
   width:150px;
   line-height:50px;
   text-align:center;
   vertical-align:middle;
   border: 2px solid black;
   color:black;
   text-decoration:none;
   border-radius: 15px;
   background-color: #DCD9DC;
   float: left;
   margin-top: 20px;
 }

 #boutonEdit:hover {
   background-color: white;
 }

 #boutonUse{

   display:block;
   width:150px;
   line-height:50px;
   text-align:center;
   vertical-align:middle;
   border: 2px solid black;
   color:black;
   text-decoration:none;
   border-radius: 15px;
   background-color: #DCD9DC;
   float: right;
   margin-right: 5px;
 }

 #boutonUse:hover {

   background-color: white;
 }

 #repTemplateG{
   margin-left: 5%;
   height: 200px;
   width: 200px;
   text-align: center;
   border: 2px solid black;
   border-radius: 4px;
   box-shadow: 5px 5px 12px #555;
   margin-right: 10px;
 }

 #repTemplateD{
   width: 200px;
   height: 200px;
 }

 #repTemplate {
   display: flex;
 }

#likeBtn {
  height: 60px;
}
 #nbLike {
   height: 30px;
   width: 35px;
   margin-right: 5px;
   margin-top: 10px;
 }

#apercu {
margin-top: 0px;
margin-bottom: 5px;
}
