@import "styleVueBandeau.css";
@import url("styleVueBandeau.css");

/*CSS footer : Affichage modèle du Jour*/



#container{
  width:780px;
  margin:0 auto;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #DCD9DC;
}

#column_left{
  width:560px;
  height:500px;
  margin-right:20px;
  border: 3px solid #2C2827;
  box-shadow: 5px 5px 12px #555;
  border-radius: 5px;
  padding: 5px;
  background-color: #4DB8DC;
  overflow-y: scroll;
}

#column_right{
  margin-top:22%;
  width:200px;
  height:300px;
  border: 3px solid #2C2827;
  box-shadow: 5px 5px 12px #555;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
}

#useButtonModel {
  padding : 3px;
  border: 2px solid black;
  text-decoration: none;
  box-shadow: 5px 5px 12px #555;
  color : black;
  float: right;
}

#useButtonModel:hover {
  padding : 3px;
  border: 2px solid black;
  text-decoration: none;
  box-shadow: 5px 5px 12px #555;
  color : white;
  float: right;
  background-color: grey;
}

/*Affichage template colonne de gauche*/
#titreNosTemplate {
  width: auto;
  text-align: center;
}

#NosTemplate {
  display: flex;
  flex-wrap: wrap;
}

#template {
  margin: 5px;
  width: 150px;
  height: 180px;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 12px #555;
  background-color: white;
}

#template:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

 #template p {
   margin-top: 0px;
 }
