header>article>a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #31333D;
    font-style: normal;
    font-family: sans-serif;
    font-size: 90%;
}

header>section>p {
  display: flex;
  flex-wrap: nowrap;
  font-style: normal;
  font-family: sans-serif;
  font-size: 75%;
}

header>section>p>a{
  text-decoration: none;
}

#conteneur1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

span.bleu {
    color: #029BDD;
}

span.souligne {
    text-decoration: underline;
}

span.blanc {
    color: #FFFFFF;
}

header>nav>ul {
  margin-right: 35px;
  padding: 35px;
}

header>nav>ul>li {
  display: inline;
  font-weight: bold;
  color: black;
  padding-right: 20px;
}

header>nav>ul>li>a {
  text-decoration: none;
  color: #262626;
  font-size: 150%;
}

ul.sousMenu {
  display: none;
}

li:hover ul.sousMenu {
  display: block;
}

header>nav>ul>li {
  float: left;
  position:relative;
}
/*https://www.pierre-giraud.com/html-css/exercices-html-css/creation-menu-deroulant-html-css.php*/
header>nav>ul>li>ul>li {
  list-style-type: none;
}

header>nav>ul>li>ul>li>a {
  text-decoration: none;
  color: black;
}

header>nav>ul>li>ul>li>a:hover {
  color:green;
}

/*#################################################################################*/

#container{
  padding-top: 100px;
  width:780px;
  margin:0 auto;
  display: flex;
}

#column_left{
  width:560px;
  height:500px;
  margin-right:20px;
}

#column_right{
  width:200px;
  height:325px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

#column_right>p>b>a {
  margin : 15px;
}

/*Bouton Choix Thèmes*/
#boutonSaisonsH {
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
color:black;
text-decoration:none;
border-radius: 15px;
background-image:url(../data/imagesSite/imHiver.jpg);
}

#boutonSaisonsH:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

#boutonSaisonsA {
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
color:black;
text-decoration:none;
border-radius: 15px;
background-image:url(../data/imagesSite/imAutomne.jpg);
}

#boutonSaisonsA:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

#boutonSaisonsP {
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
color:black;
text-decoration:none;
border-radius: 15px;
background-image: url(../data/imagesSite/imPrintemps.jpg);
}

#boutonSaisonsP:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

#boutonSaisonsE {
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
color:black;
text-decoration:none;
border-radius: 15px;
background-image:url(../data/imagesSite/imEte.jpg);
}

#boutonSaisonsE:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
