/*Code CSS du Bandeau*/

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial ;
}

header>article>a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #31333D;
    font-style: normal;
    font-family: sans-serif;
    font-size: 90%;
}

header>section>p {
  display: flex;
  flex-wrap: nowrap;
  font-style: normal;
  font-family: sans-serif;
  font-size: 75%;
}

header>section>p>a{
  text-decoration: none;
}

#conteneur1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

span.bleu {
    color: #029BDD;
}

span.souligne {
    text-decoration: underline;
}

span.blanc {
    color: #FFFFFF;
}

header>nav>ul {
  margin-right: 35px;
  padding: 35px;
  display: flex;
}

header>nav>ul::after {
  content: "";
  display: block;
  clear: both;
}

header>nav>ul>li {
  display: inline;
  font-weight: bold;
  color: black;
  padding-right: 20px;
  float: left;
  position:relative;
}

header>nav>ul>li:hover {
  display: inline;
  font-weight: bold;
  color: black;
  padding-right: 20px;
  float: left;
  position:relative;
  font-size: 102%;
}

header>nav>ul>li>a {
  text-decoration: none;
  color: #262626;
  font-size: 150%;
}

ul.sousMenu {
  display: none;
}

li:hover ul.sousMenu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}

ul.sousMenu li {
  border-bottom: 1px solid #CCC;
}

ul.sousMenu li a {
  padding-left: 15px;
}

header>nav>ul>li>ul>li {
  list-style-type: none;
}

header>nav>ul>li>ul>li>a {
  text-decoration: none;
  color:black;
}

header>nav>ul>li>ul>li>a:hover {
  color:white;
  background-color: grey;
}


/*Code CSS du Footer*/

#navigueBar{
  width:auto;
  height: 50px;
  margin-top: 75px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  padding: 5px;
}

#container{
  width:auto;
  height: 500px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #DCD9DC;
}

#column_left{
  width: 50%;
  border-right: 2px solid black;
}

#column_up{
  border-bottom: 2px solid black;
  height: 50%;
}

#column_up>a{
  float: right;
}

#column_down{
  height: 50%;
  text-align: center;
}

#column_right{
  width:50%;
  display: flex;
  flex-wrap:wrap;
  overflow-y: scroll;
}

#MesModeles{
  text-align: center;
  width: 220px;
  border: 2px solid black;
  border-radius: 2px;
  background-color: #DCD9DC;
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

#ModeleModeles:hover{
  background-color: white;
}

#ModeleComm{
  text-align: center;
  width: 220px;
  border: 2px solid black;
  border-radius: 2px;
  background-color: #DCD9DC;
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

#ModeleComm:hover{
  background-color: white;
}

#MonthTheme{
  text-align: center;
  width: 220px;
  border: 2px solid black;
  border-radius: 2px;
  background-color: white;
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

#template {
  margin: 5px;
  width: 150px;
  height: 180px;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 12px #555;
}

#template:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

 #template p {
   margin-top: 0px;
 }

 #boutonEdit{
   display:block;
   width:150px;
   line-height:50px;
   text-align:center;
   vertical-align:middle;
   border: 2px solid black;
   color:black;
   text-decoration:none;
   border-radius: 15px;
   background-color: #DCD9DC;
   float: left;
   margin-top: 20px;
 }

 #boutonEdit:hover {
   background-color: white;
 }

 #boutonUse{
   margin-top: 20px;
   display:block;
   width:150px;
   line-height:50px;
   text-align:center;
   vertical-align:middle;
   border: 2px solid black;
   color:black;
   text-decoration:none;
   border-radius: 15px;
   background-color: #DCD9DC;
   float: right;
   margin-right: 5px;
 }

 #boutonUse:hover {
   background-color: white;
 }

 #repTemplate{
   margin: auto;
   height: 100px;
   width: 100px;
   border: 1px dashed black;
 }

 #likeBtn {
   height: 5%;
   width: 10%;
 }
